.context-option-container {
  display: flex;
  gap: 20px;
  margin: 5px 10px;
}

.language,
.theme {
  display: flex;
  height: 40px;
  width: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.language:hover,
.theme:hover {
  cursor: default;
}

.lang-container,
.theme-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
