.state-container {
  display: flex;
  flex-direction: row;
  border: 2px dashed #fefefe;
  border-radius: 25px;
  margin: 10px;
  padding: 10px 10px;
  width: 25%;
  justify-content: space-between;
}

.state-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.final-state,
.box {
  background-color: #f9f4da;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: 2px 2px 2px #231f20;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.final-state-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shape {
  display: none;
  animation: 0.3s linear forwards;
}

.blue-triangle,
.blue-square,
.green-square,
.green-square {
  text-align: center;
}

.blue-triangle .state-bluesquare,
.blue-triangle .state-greensquare,
.blue-triangle .state-greentriangle,
.green-triangle .state-bluesquare,
.green-triangle .state-greensquare,
.green-triangle .state-bluetriangle,
.blue-square .state-bluetriangle,
.blue-square .state-greentriangle,
.blue-square .state-greensquare,
.green-square .state-bluetriangle,
.green-square .state-greentriangle,
.green-square .state-bluesquare {
  opacity: 1;
  display: none;
  animation-name: fadeOut;
}

.blue-triangle .state-bluetriangle,
.green-triangle .state-greentriangle,
.blue-square .state-bluesquare,
.green-square .state-greensquare {
  opacity: 0;
  display: inline;
  animation-name: fadeIn;
  animation-delay: 50ms;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  to {
    opacity: 0;
    transform: rotate(100deg);
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotate(-100deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
    display: inline;
  }
}
